<div class="image-container-single">
  <div class="large-single">
    <a href="/image-single/?images.id={{this.id}}"><img src="{{this.url}}"></a>
    <p>
      {{this.description}}
      {{#each this.tags}}
        <a href="/images/?tags.name={{this.name}}"> #{{this.name}}</a>
      {{/each}}
    </p>
  </div>
</div>
